---
import { projectData } from '@data/projects'

import { Image } from 'astro:assets'

// Layout and components
import ProjectLayout from '@layouts/ProjectLayout.astro'
import ProjectScreenshots from '@components/ProjectScreenshots.astro'
import ProjectNavigate from '@components/ProjectNavigate.astro'
import Chip from '@components/Chip.astro'
import Button from '@components/Button.astro'

export async function getStaticPaths() {
  return projectData.map(
    ({
      slug,
      heading,
      projectImg,
      intro,
      demoLink,
      repoLink,
      stack,
      navigateLinks,
      tag,
    }) => {
      return {
        params: { slug },
        props: {
          heading,
          projectImg,
          intro,
          demoLink,
          repoLink,
          stack,
          navigateLinks,
          tag,
        },
      }
    },
  )
}

const {
  heading,
  projectImg,
  intro,
  demoLink,
  repoLink,
  stack,
  navigateLinks,
  tag,
} = Astro.props

const allImages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}',
)

const filteredImageEntries = Object.entries(allImages).filter(([path]) => {
  return path.includes(tag) && !path.includes(`${tag}-intro`)
})

const projectImages = await Promise.all(
  filteredImageEntries.map(async ([, imageImport]) => {
    const image = await imageImport()
    return {
      image: image.default,
    }
  }),
)
---

<ProjectLayout>
  <div class="mx-4">
    <h1 class="text-accent_green text-3xl mobile:text-5xl mb-6">{heading}</h1>
  </div>

  <section
    class="grid items-center content-center tablet:[grid-template-columns:40%_65%] tablet:gap-3 mx-4"
  >
    <article>
      <p class="max-w-[45ch] sm:text-lg">{intro}</p>

      {
        (demoLink || repoLink) && (
          <div class="flex gap-8 my-8 tablet:my-4">
            {demoLink && <Button link={demoLink} value="Demo" />}
            {repoLink && <Button link={repoLink} value="Repo" />}
          </div>
        )
      }
    </article>

    <div>
      <Image
        class="object-cover max-w-[40rem] rounded-lg w-full tablet:max-w-2xl"
        src={projectImg}
        alt={heading}
      />
    </div>
  </section>

  <section class="mx-4 mt-6">
    <h2 class="text-text text-2xl">Stack / technologies</h2>
    <article class="flex flex-wrap mt-4 justify-start gap-4 max-w-[70%]">
      {stack.map((value: string) => <Chip value={value} />)}
    </article>
  </section>

  <ProjectScreenshots projectImages={projectImages} altText={heading} />

  <ProjectNavigate
    linkPrevious={navigateLinks.linkPrevious}
    linkNext={navigateLinks.linkNext}
  />
</ProjectLayout>
